
@model List<Author>
<h1 style="color:lightblue">Author Section</h1>

<a class="btn btn-primary" asp-action="Add" asp-controller="Author">Add Author</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Salary</th>
            <th scope="col">Address</th>
            <th scope="col">Departmet</th>
            <th scope="col">Action</th>

            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr class="table-active">
                <td>@item.Name</td>
                <td>@item.Gender</td>
                <td>@item.Salary</td>
                <td>@item.Address</td>
                <td>@item.Dept?.Name</td>
                <td>
                    <a class="btn btn-outline-info" href="/Author/Edit/@item.Id">Edit</a>
                    <a class="btn btn-outline-danger" href="/Author/Delete/@item.Id">Delete</a>

                </td>
            </tr>
        }
       
    </tbody>
</table>